* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
}

body {
  background-color: hsl(210, 32%, 93%)
}

.header {
  width: 100%;
  height: 300px;
  background-color: #62b0e8;
}

.main-task {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: hsl(210, 38%, 97%);
  box-shadow: 0 1px 3px hsla(0,0%,0%,.3);
  border-radius: 8px;
  margin-top: 2rem;
}

.main-task__title {
  font-size: 3.8rem;
  font-weight: 300;
}

.main-task__description {
  font-size: 1.8rem;
  font-weight: 400;
}